:root {
    --grid-size: 750px;
}

#grid {
    width: var(--grid-size);
    height: var(--grid-size);
    max-width: var(--grid-size);
    max-height: var(--grid-size);

    display: flex;
    flex-direction: column;
}

.row {
    flex: 1;
    display: flex;
}

.square {
    flex: 1;
    border: solid 1px black;
}

.filled {
    background-color: black;
}